
anyio==4.5.2
astrapy==1.5.2
astunparse==1.6.3
cassandra-driver==3.29.2
defusedxml==0.7.1
deprecation==2.1.0
dnspython==2.6.1
exceptiongroup==1.2.2
Faker==35.2.0
filelock==3.16.1
Flask==3.0.3
geomet==0.2.1.post1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.0.1
imbalanced-learn==0.12.4
ipwhois==1.3.0
itsdangerous==2.2.0
Jinja2==3.1.5
pandas>=2.2.0
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
pymongo==4.10.1
PyQt5==5.15.10
python-whois==0.9.5
requests-file==2.1.0
scipy==1.10.1
sniffio==1.3.1
tldextract==5.1.2
toml==0.10.2
uuid6==2024.7.10
